/* scroll to top */
$btt-size: 55px !default;
$btt-fill: #fff !default;
$btt-bg: #999 !default;

#btt {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 14;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $btt-size;
  height: $btt-size;
  cursor: pointer;
  background: $btt-bg;
  border: 0;
  svg {
    fill: $btt-fill;
  }
}
