.flyout {
  overflow: auto;
  padding-top: 80px;
  padding-bottom: 20px;
  width: 100%;
  height: 100vh !important;
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: transform .2s linear;
  transform: translateX(-100%)
}

@media all and (min-width: 768px) {
  .flyout {
      width: 70vw;
  }
}

@media all and (min-width: 1200px) {
  .flyout {
      width: 30vw;
  }
}


.toolbar-horizontal .flyout.right,
.toolbar-horizontal .flyout.left {
  top: 40px
}

.toolbar-tray-open .flyout.right,
.toolbar-tray-open .flyout.left {
  top: 80px
}

.flyout.show{
  transform: translateX(0)
}

.flyout.right {
  right: 0;
  left: auto;
  transform: translateX(100%)
}

.flyout[aria-expanded="true"] {
  transform: translateX(0)
}
