$toggle-size:              2rem;
$toggle-bar-height:        4px;
$toggle-bar-color:         #fff;
$toggle-bar-border-radius: 6px;

.flyout-toggle {
  width: $toggle-size;
  height: $toggle-size;
  margin: 5px;
  position: relative;
  border: none;
  background: transparent;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $toggle-bar-color;
    border-radius: $toggle-bar-border-radius;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }

    &:nth-child(4) {
      top: 20px;
    }
  }

  &.close,
  &.open {
    span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}
