<button class="{{ class }}" type="button" onClick="this.classList.toggle('open');" aria-controls="#{{ target }}" data-toggle="collapse" data-target="#{{ target }}" aria-expanded="false">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>
