{{ attach_library('<%= themeName %>/toggle') }}
<button {{ data }}="{{ data_options }}" class="{{ class }} toggle" type="button" >
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</button>
