{% extends "region.html.twig" %}

{% block content %}
  {{ content }}
  <div class="footer__copyright d-flex bg-light py-5 justify-content-center">© {{ 'now'|date('Y') }} {{ site_name }}</div>
{% endblock %}
